.list-view {
    -fx-background-color: #D3D3D3;
}

.list-view .list-cell:hover {
    -fx-background-color: #D3D3D3;
}

.list-view .list-cell:selected {
    -fx-background-color:  #D3D3D3;
}

.list-view .list-cell {
    -fx-background-color:  #D3D3D3;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}